.not__fonud__container {
  .not__fonud__wrapper {
    margin: 8rem 0 8rem 0;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .not__found__title {
      font-size: 5.2rem;
      font-weight: bold;
      color: var(--color);
      margin: 20px;
    }
    .not__found__text {
      font-size: 1.4rem;
      color: var(--color);
      margin: 20px;
    }
    .not__found__link {
      padding: 10px;
      border: none;
      border-radius: 5px;
      color: var(--color);
      background: #eee;
      font-size: 1.2rem;
      font-weight: bold;
      display: grid;
      place-content: center;
      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}
