.mainDetails {
  width: 100%;
  height: 100%;
  padding: 30px;
  border-left: 1px solid #eee;
  h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: capitalize;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
  }
  form {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    .sizeWrapepr {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 60px;
      label {
        font-size: 1.5rem;
        font-weight: 400;
      }
      select {
        width: 100%;
        height: 30px;
        border: none;
        background: var(--primary);
        padding: 0 10px;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
    .amountWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100px;
      label {
        font-size: 1.5rem;
        font-weight: 400;
      }
      span {
        display: flex;
        p {
          font-size: 1.5rem;
          margin: 0 10px;
        }
        button {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: none;
          background: var(--primary);
          cursor: pointer;
          &:hover {
            filter: brightness(0.9);
          }
        }
      }
    }
    .totalWrapper {
      display: flex;
      margin: 15px 0;
      h3 {
        font-size: 1.5rem;
        font-weight: 400;
      }
      p {
        margin: 0 10px;
        font-size: 2rem;
        font-weight: 400;
      }
    }

    .submitButton {
      position: relative;
      height: 50px;
      width: 125px;
      margin: 15px 0;
      border: none;
      background: var(--secondary);
      font-size: 1.3rem;
      font-weight: 400;
      cursor: pointer;
      border-radius: 5px;
      &:hover {
        filter: brightness(0.9);
      }
      &:active {
        filter: brightness(0.8);
      }
    }
  }
  .buyerProtection {
    font-size: 1rem;
    i {
      margin: 0 5px 0 0;
    }
  }
}
