.footer {
  width: 100%;
  height: 30rem;
  background: #222;
  margin: 16px 0 0 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 70% 15% 15%;
  .footer__info {
    padding: 0 0 0 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .footer__title__wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
      .footer__logo__wrapper {
        position: relative;
        width: 50px;
        height: 50px;
      }
      .footer__title {
        font-size: 24px;
        color: var(--background);
      }
    }
    .footer__links__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .footer__unordered__list__links {
        list-style: none;
        min-height: 100px;
        .footer__list__link {
          color: var(--background);
          &:nth-child(1) {
            font-weight: bold;
          }
          .footer__anchor {
            font-size: 1.1em;
            font-weight: 400;
            color: #bbb;
            cursor: pointer;
            &:hover {
              color: var(--background);
            }
          }
        }
      }
    }
  }
  .footer__social__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 0 150px 0 0;
    .footer__social__title {
      font-size: 2rem;
      font-weight: 400;
      color: var(--background);
    }
    .footer__social__unodered__list {
      margin: 20px 0 0 0;
      list-style: none;
      display: flex;
      gap: 10px;
      .footer__social__list {
        .footer__social__anchor {
          font-size: 1.5rem;
          font-weight: 400;
          color: #bbb;
          cursor: pointer;
          &:hover {
            color: var(--background);
          }
        }
      }
    }
  }
  .footer__payment__methods {
    position: relative;
    width: 100%;
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    .footer__payment__method__image {
      height: 20px;
    }
  }
  .footer__legal {
    grid-column: 1 / span 2;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background);
    gap: 3px;
    .footer__legal__copyright {
      width: fit-content;
      font-weight: 400;
      font-size: 1.1em;
    }
    .footer__legal__anchor {
      font-size: 1.1em;
      font-weight: 400;
      color: #bbb;
      cursor: pointer;
      &:hover {
        color: var(--background);
      }
    }
  }
}

@media (max-width: 720px) {
  .footer {
    height: 430px;
    grid-template-columns: 100%;
    grid-template-rows: 250px 100px 45px 20px;
    .footer__info {
      padding: 0;
      .footer__title {
        margin: 10px 0;
        justify-content: center;
      }
      .footer__links__wrapper {
        justify-content: center;
        .footer__links {
          margin: 10px;
          li {
            margin: 10px 0;
            font-size: 1.12rem;
          }
        }
      }
    }
    .footer__social {
      margin: 0;
      align-items: center;
    }
    .footer__payment__methods,
    .footer__legal {
      grid-column: 1 / 1;
    }
    .footer__legal {
      grid-row: 4;
    }
  }
}
