.home {
  height: 100%;
  background: var(--secondary);
  .pageHeader {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 1;
    max-height: 650px;
    img {
      object-fit: cover;
    }
  }
  .homeContent {
    z-index: 50;
    position: relative;
    margin: -90px 0 0 0;
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    ul {
      width: 95%;
      list-style: none;
      display: flex;
      justify-content: space-between;
    }
    .princialProducts {
      position: relative;
      width: 95%;
      min-height: 20px;
      border-radius: 5px;
      aspect-ratio: 4 / 1;
      img {
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .home {
    .homeContent {
      ul {
        min-width: 150px;
        overflow-x: scroll;
      }
    }
  }
}
