.home {
  height: 100%;
  background: var(--primary);
  .home__main {
    .home__header__page {
      position: relative;
      width: 100%;
      aspect-ratio: 3 / 1;
      max-height: 650px;
      img {
        object-fit: cover;
      }
    }
    .home__content {
      z-index: 50;
      position: relative;
      margin: -90px 0 0 0;
      width: 100%;
      min-height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      .home__cards__wrapper {
        width: 95%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 16px;
      }
      .home__main__products {
        position: relative;
        width: 95%;
        min-height: 20px;
        border-radius: 5px;
        aspect-ratio: 4 / 1;
        img {
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .home {
    .home__content {
      margin: 10px 0 0 0;
      ul {
        min-width: 150px;
        overflow-x: scroll;
      }
    }
  }
}
