.imagesViewer {
  width: 100%;
  height: 100%;
  .viewLayout {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    .view {
      position: relative;
      height: 80%;
      aspect-ratio: 1 / 1;
      overflow: hidden;
      object-fit: cover;
      transition: 0.2s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    gap: 10px;
    list-style: none;
    li {
      position: relative;
      width: 100px;
      height: 100px;
      cursor: pointer;
      &:hover {
        border: 1px solid #eee;
        box-shadow: 0px 2px 5px #eee;
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
}
