.product {
  background: var(--primary);
  .info {
    margin: 7rem auto 20px auto;
    width: 95%;
    height: 500px;
    background: #fff;
    display: flex;
    .viewerContainer,
    .detailsContainer {
      width: 50%;
      height: 100%;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 720px) {
  .product {
    .info {
      flex-direction: column;
      height: 750px;
      .viewerContainer,
      .detailsContainer {
        width: 100%;
        height: 50%;
      }
    }
  }
}
