.search__form {
  position: relative;
  height: 100%;
  width: 21rem;
  display: flex;
  align-items: center;
  .search__input {
    position: absolute;
    right: 1rem;
    height: 1.8rem;
    border: none;
    outline: none;
    width: 0%;
    background: #f3f3f3;
    transition: 0.5s;
    &:hover,
    &:active,
    &:focus,
    &:focus-visible {
      width: 20rem;
      padding: 0 1.3rem 0 1rem;
      border-radius: 5px 0 0 5px;
    }
    &:focus-visible {
      outline: 1px solid #333;
    }
  }
  .search__button {
    z-index: 10;
    border: none;
    outline: none;
    position: absolute;
    right: 0rem;
    color: var(--background);
    background: var(--color);
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    i {
      font-size: 0.8rem;
    }
    &:hover ~ input,
    &:active ~ input,
    &:focus ~ input {
      width: 20rem;
      padding: 0 1.3rem 0 1rem;
    }
  }
  .search__panel {
    z-index: 100;
    position: absolute;
    top: 50px;
    left: 0;
    max-height: 300px;
    width: 20rem;
    overflow-x: hidden;
    overflow-y: scroll;
    .search__autocomplete__wrapper {
      .search__unodered__list__autocomplete {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        .search__autocomplete__item {
          .search__link__item {
            display: flex;
            width: 100%;
            padding: 10px 5px;
            background: #fff;
            &:hover {
              filter: brightness(0.9);
            }
            .search__image__wrapper {
              position: relative;
              width: 40px;
              height: 40px;
            }
            .search__autocomplete__text__wrapper {
              padding: 0 10px;
              .search__title {
                font-size: 1.1rem;
              }
              .search__price {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
