.suggestions {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  ul {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
}
