.suggestions {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .title {
    width: 95%;
    font-size: 2.5rem;
    text-align: start;
    background: #fff;
    padding: 15px 10px;
    border-radius: 5px;
  }
  ul {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
}

@media (max-width: 720px) {
  .suggestions {
    ul {
      flex-direction: column;
    }
  }
}
