.suggestions__container {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .suggestions__unordered__list {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
}

@media (max-width: 720px) {
  .suggestions__container {
    .suggestions__unordered__list {
      flex-direction: column;
    }
  }
}
